<% layout('/include/default.html',
{libs:["tree","table","socket","layer","layui"]}){ %>
<link href="/css/common.css" rel="stylesheet" />
<link href="/plugin/siteTree/siteTree.css" rel="stylesheet" />
<style type="text/css">
#siteTree ul li {
	font-size: 12px;
}

tr>td:first-child, tr>th:first-child {
	border-left: 1px solid #e4eaec !important;
}

tr>td:last-child, tr>th:last-child {
	border-right: 1px solid #e4eaec !important;
}

th {
	border-top: 1px solid #e4eaec !important;
}
</style>
<!-- </head>
<body class="easyui-layout"> -->
<div layout="Right">
	<div id="siteTree" class="stationCode" style="float: left; width: 20%;">
	</div>
	<div style="float: right; width: 79%;">
		<div class="search pt10 pl10"
			componentId="f3b753d6-b1cc-435d-a470-b71b8e71d52c"
			id="BSDStationSearch" targetId="BSDStationTable" widget="Search">
			<form searchForm="true" method="get" class="form-inline">
				<div class="input-control">
					<div class="form-group" description="">
						<label for="name">站点名称：</label> <input class="form-control"
							id="name" name="name" type="text" />
					</div>
				</div>
				<div class="search-control">
					<div class="form-group">
						<input class="btn btn-primary search-button" id="btnSearchSubmit"
							name="" type="button" value="查询" onclick="reLoad()" />
						<button class="btn btn-primary" onclick="reFresh()">刷新</button>

						<input class="btn btn-primary" id="btnInsert" name=""
							type="button" value="新增" onclick="add()" /> <input
							class="btn btn-success" id="downPlayer" name="" type="button"
							value="下载播放器" onclick="downHikPlayer()" />
					</div>
				</div>
			</form>

		</div>
		<table class="table table-bordered table-striped table-hover"
			id="exampleTable"></table>
	</div>
</div>

<% } %>
<script type="text/javascript" src="/js/video/list.js"></script>
<script src="/plugin/siteTree/siteTreeVideo.js" type="text/javascript"></script>
<script>
	var siteCodes;
	$.siteTree.build(false);
	$.siteTree.treeClickEvent = function(e, data) {
		siteCodes = $.siteTree.siteCodes();
		// console.log(siteCodes[0]);
		load(siteCodes);
	};

	// function treeHeight() {
	//     var ww=window.innerHeight;
	//     $("#siteTree").height(ww-30);
	// }

	$.siteTree.treeSingleLoadedEvent = function(e, data) {
		// console.log(e);
		// console.log(data);
	}
</script>