<%layout('/include/default.html',{libs:["table","layer","layui","tree"]}){%>
<!--<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="ie-stand"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<title>${productName}</title>
<link href="/css/reset.css" rel="stylesheet"/>
<link href="/css/common.css" rel="stylesheet"/>
<link href="/css/icon.css" rel="stylesheet"/>
<link href="/css/animate.min.css" rel="stylesheet"/>
<link href="/css/font-awesome.css" rel="stylesheet"/>

<link href="/plugins/themes/default/default.css" rel="stylesheet"/>
<link href="/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<!---->
<script src="/plugins/jquery/jquery-1.12.4.min.js"></script>
<script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/plugin/echarts/echarts.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.13&key=7c42bd396475066a40de929712bbba7b"></script>
<!--<script src="http://webapi.amap.com/ui/1.0/main.js"></script>-->
<script src="/plugin/amap/main1.3.js"></script>
<script src="/js/index-top.js"></script>

<!--     <script src="/js/collapse.js"></script>
    <script src="/js/dropdown.js"></script> -->
<!-- <script src="content/js/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script> -->
<script src="/js/common.js"></script>
<!-- <script src="content/js/showModalDialog.js"></script> -->
<script src="/js/top-nav.js"></script>
<script src="/plugins/layer/mobile/layer.js"></script>
<style>
    .main, .main-title {
        left: 0;
        padding-top: 0;
    }

    .full-width {
        width: 100%;
    }

    .main-padding {
        padding-top: 0;
    }

    .navbar {
        clear: both;
        display: none;
    }

    .logo a {
        color: white;
    }

    .logo span {
        color: white;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background: none;
    }

    .table-hover > tbody > tr:hover {
        background-color: grey;
    }

    .pagination li {
        float: left;
    }

    .pull-left, .pagination li a {
        color: white;
    }

    element.style {
        overflow: hidden;
        zoom: 0.8;
    }

    .pagination > li > a, .pagination > li > span {
        background-color: grey;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: grey;
    }

    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
        background-color: grey;
    }
    #hoverShowAqi{
        background: url(/image/desktop/aqi.svg) no-repeat center center;
        background-size: 83%;
        width: 60px;
        height: 55px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #1992fc;
        display: inline-block;
        /*position: absolute;*/
        /*right: 185px;*/
        /*top: 7px;*/
    }
    .info{
        top: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div#leftAqi{
        position: absolute;
        bottom: 30%;
        max-height: 710px;
        min-height: 420px;
        height: 38%;
        z-index: 999;
        line-height: 24px;
        font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
    }
    .right-aqi {
        position: absolute;
        right: -280px;
        top: 5px;
        bottom: 20px;
        z-index: 999;
        width: 280px;
        color: #fff;
        border-radius: 6px;
        background-color: rgba(24, 52, 76, 0.6);
        box-shadow: 0 0 10px rgba(5, 230, 255, .5);
    }
    select {
        color: white;
        padding: 0 2px 3px;
        background: rgba(24, 52, 76, .4);
        margin-left: 5px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #999999;
        height: 24px;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        text-transform: none;
    }
    .top-right > a {
        width: 75px;
    }
    .top-right{
        right: 250px;
    }
    ul#tab-panel1 {
        padding: 0;
    }
    .left-nav-tabs {
        border-bottom: 1px solid #297192;
        border-radius: 6px 6px 0 0;
    }
</style>
<!--</head>
<body>-->
<div class="top clearfix">
    <div class="logo">
        <!--headNav-->
        <a href="javascript:goHome(this);">
            <!-- <img src="content/themes/default/images/head-title1.png" border="0" alt="武昌区大气环境监测智能管理系统"> -->
            <span class="logo-lg" style="font-size:36px;color: white">${productName}</span>
        </a>
    </div>



    <div class="top-right" style="width: 390px;">
        <a class="top-jinji" id="air" href="javascript:void(0)" ; onClick="a()" style="display: none">
            空气报警
            <div class="top-label bg-4" id="airCount"></div>
        </a>

        <a class="top-jinji" id="polluteData" href="javascript:void(0)" onClick="b()" style="display: none">
            涉气污染源报警
            <div class="top-label bg-4" id="polluteDataCount"></div>
        </a>
        <a class="top-jinji" id="polluteWater" href="javascript:void(0);" onClick="c()" style="display: none">
            污水报警
            <div class="top-label bg-4" id="polluteWaterCount"></div>
        </a>

        <a class="top-jinji" id="waterAuto" href="javascript:void(0)" onclick="d()" style="display: none">
            水自动站报警
            <div class="top-label bg-4" id="waterCount"></div>
        </a>
        <a class="top-jinji" id="taskInfo" href="javascript:void(0)" onclick="e()" style="position: relative">
            待办任务
            <div class="top-label bg-4" id="taskInfoCount"></div>
        </a>
    </div>

    <ul class="info">
        <input id="roleId" value="${roleId}" type="hidden">
        <li style="margin-right: 10px;">
            <div id="hoverShowAqi">
            </div>
        </li>
        <li class="user">
            <a onclick="return false" href="javascript:void(0);">
                <img src="/plugins/themes/default/images/icon-top-user.png"/> ${username}
            </a>
            <input id="userId" name="userId" value="${userId}" type="hidden">
        </li>
        <li class="logout">
            <a href="/login" title="退出">
                <img src="/plugins/themes/default/images/icon-logout.png"/> 退出
            </a>
        </li>
    </ul>
    <div class="h-nav">
        <ul class="top-dropdown" id="headNav">
            <li class="hover">
                <a href="javascript:goHome();"><img src="/plugins/themes/default/images/nav-home.png"/> 首页</a>
            </li>
        </ul>
    </div>
</div>
<div class="right-aqi right-show" id="leftAqi">
    <ul class="left-nav-tabs clearfix" id="tab-panel1">
        <li class="active" style="width: 46%;">汨罗市空气质量</li>
        <li style="text-align: left;font-size: 13px;width: 53%;" id="issueDate"></li>
    </ul>
    <select id="standardSelect">
    </select>
    <div style="height: 160px; left: -2px; top: 12px;" id="mlNewSingle">
    </div>
    <div style="height: 120px; left: -2px; top: 12px;" id="sixPollutant">
        <label style="display: block; font-size: 15px; text-align: center;"
               id="primary"></label> <label
            style="display: block; font-size: 15px; text-align: center;">单位(μg/m³,CO
        mg/m³)</label>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-right col-sm-7 control-label pollutant-font">PM10:</div>
                <div class="col-sm-5 control-label pollutant-font" id="pm10Value"></div>
            </div>
            <div class="col-sm-6">
                <div class="text-right col-sm-7 control-label pollutant-font">PM2.5:</div>
                <div class="col-sm-5 control-label pollutant-font" id="pm25Value"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-right col-sm-7 control-label pollutant-font">NO2:</div>
                <div class="col-sm-5 control-label pollutant-font" id="no2Value"></div>
            </div>
            <div class="col-sm-6">
                <div class="text-right col-sm-7 control-label pollutant-font">SO2:</div>
                <div class="col-sm-5 control-label pollutant-font" id="so2Value"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-right col-sm-7 control-label pollutant-font">CO:</div>
                <div class="col-sm-5 control-label pollutant-font" id="coValue"></div>
            </div>
            <div class="col-sm-6">
                <div class="text-right col-sm-7 control-label pollutant-font">O3:</div>
                <div class="col-sm-5 control-label pollutant-font" id="o3Value"></div>
            </div>
        </div>
    </div>
    <div id="weatherInfo" style="padding:0 5px 5px 8px;">

    </div>
    <!--折叠按钮-->
    <!--<a class="right-expand" href="javascript:void(0);" onclick="rightShow(this)">&nbsp;</a>-->
</div>
<!--（3）这是点击之后所执行的展示的信息-->
<div class="animated fadeInDown alm-dialog" id="jinjiDiv">
    <div class="alm-dialog-body clearfix">
        <p class="alm-dialog-title">
            <img src="/plugins/themes/default/images/top-jinji.png"/>紧急报警
        </p>
        <div class="alm-dialog-content">
            <table id="exampleTable">
            </table>
        </div>
    </div>
    <a class="zf-img-close alm-close" href="javascript:void(0);">×</a>
</div>
<div class="main">
    <iframe id="mainFrame" width="100%" height="100%" scrolling="true" frameborder="0"></iframe>
</div>
<% } %>
<script type="text/javascript">
    $(function () {
        var roleId = $("#roleId").val();
        if(roleId == 81){$("#air").css('display', 'block');load();
        }else if(roleId == 78){$("#waterAuto").css('display', 'block');loadWater();
        }else if(roleId == 79){$("#polluteData").css('display', 'block');loadPolluteData();
        }else if(roleId == 82){$("#polluteWater").css('display', 'block');loadPolluteWater();
        }else{$("#taskInfo").siblings().css('display', 'block');
            load();
            loadPolluteData();
            loadPolluteWater();
            loadWater();
        }
        taskInfo();
        initWeather();
        mlNewEcharts();
        setInterval(function () {
            initWeather();
            mlNewEcharts();
        }, 1000*60*10);
        $("#hoverShowAqi,#leftAqi").hover(function () {
            $("#leftAqi").stop().fadeIn(350)
        }, function () {
            $("#leftAqi").stop().fadeOut(350)
        })
    })
    function e() {
        $('#exampleTable').bootstrapTable('destroy');
        document.getElementById("mainFrame").src="/task/agents/index"
        $('#taskInfo').click(function () {$('#jinjiDiv').css('display', 'none');});
        // $("#jinjiDiv").attr("style","display:none");
        // document.getElementById("jinjiDiv").style.display="none";
    }
    function taskInfo() {
        $('#exampleTable').bootstrapTable('destroy');
        $('#exampleTable').bootstrapTable({
            method: 'get', // 服务器数据的请求方式 get or post
            url: "/task/agents/count",///index/getAir
            // showRefresh : true,
            // showToggle : true,
            // showColumns : true,
            iconSize: 'outline',
            toolbar: '#exampleToolbar',
            striped: true, // 设置为true会有隔行变色效果
            dataType: "json", // 服务器返回的数据类型
            pagination: true, // 设置为true会在底部显示分页条
            pageSize: 5, // 如果设置了分页，每页数据条数
            pageNumber: 1, // 如果设置了分布，首页页码
            //queryParamsType : "limit",
            // //设置为limit则会发送符合RESTFull格式的参数
            //$('#exampleTable').bootstrapTable('prepend', data);
            showHeader: true,//默认为true显示表头，设为false隐藏
            // showFooter: true,
            //singleSelect : false, // 设置为true将禁止多选
            //contentType : "application/x-www-form-urlencoded",
            // //发送到服务器的数据编码类型
            //search : true, // 是否显示搜索框
            //showColumns : true, // 是否显示内容下拉框（选择显示的列）
            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    pageNumber: (params.offset / params.limit) + 1,
                    //types : types
                    //offset: params.offset// 每页显示数据的开始行号
                    //sort: params.sort// 要排序的字段
                    //sortOrder: params.order, // 排序规则
                };
            },
            //(1)是一个回调函数，可以获取查询数据的总条数
            onLoadSuccess: function (res) {
                warnNum = res.total;
                //改变#count的文本内容
                $("#taskInfoCount").text(res.total);
            },
            columns: [{
                title: '站点',
                field: 'name',
            },]
        })}
    function a() {
        load();
    };
    var warnNum;

    function load(roleId) {
        $('#exampleTable').bootstrapTable('destroy');
        $('#exampleTable').bootstrapTable({
            method: 'get', // 服务器数据的请求方式 get or post
            url: "/index/getButtonAir",///index/getAir
            // showRefresh : true,
            // showToggle : true,
            // showColumns : true,
            iconSize: 'outline',
            toolbar: '#exampleToolbar',
            striped: true, // 设置为true会有隔行变色效果
            dataType: "json", // 服务器返回的数据类型
            pagination: true, // 设置为true会在底部显示分页条
            pageSize: 5, // 如果设置了分页，每页数据条数
            pageNumber: 1, // 如果设置了分布，首页页码
            //queryParamsType : "limit",
            // //设置为limit则会发送符合RESTFull格式的参数
            //$('#exampleTable').bootstrapTable('prepend', data);
            showHeader: true,//默认为true显示表头，设为false隐藏
            // showFooter: true,
            //singleSelect : false, // 设置为true将禁止多选
            //contentType : "application/x-www-form-urlencoded",
            // //发送到服务器的数据编码类型
            //search : true, // 是否显示搜索框
            //showColumns : true, // 是否显示内容下拉框（选择显示的列）
            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    pageNumber: (params.offset / params.limit) + 1,
                    //types : types
                    //offset: params.offset// 每页显示数据的开始行号
                    //sort: params.sort// 要排序的字段
                    //sortOrder: params.order, // 排序规则
                };
            },
            //(1)是一个回调函数，可以获取查询数据的总条数
            onLoadSuccess: function (res) {
                warnNum = res.total;
                //改变#count的文本内容
                $("#airCount").text(res.total);
            },
            columns: [{
                title: '站点',
                field: 'name',
            }, {
                title: '报警信息',
                field: 'pollutant',
                formatter: function (value, row, index) {
                    if (value == null) {
                        return "-"
                    } else {
                        return value + "污染物浓度超标";
                    }

                }
            }, {
                title: '检测值',
                field: 'value',
            }, {
                title: '报警时间',
                field: 'exceedsBidDate'
            }, {
                title: '状态',
                field: 'status',
                formatter:function(value, row, index) {
                    if (value == 0) {
                        return "未处理"
                    } else if (value == 1) {
                        return "已处理"
                    }
                }
            }, {
                title: '操作',
                field: 'id',
                width: '120px',
                align: 'center',
                formatter: function (value, row, index) {
                    var e = '<a class="btn btn-primary btn-sm" style=" width: 59px;\n' +
                        '    padding-left: 0px;\n' +
                        '    margin-left: -4px;"href="#" mce_href="#" title="" onclick="airAdd(\''
                        + row.name + "\',\'" + row.siteCode + "\',\'" + row.id+"\',\'"+row.pollutant+"\',\'"+row.exceedsBidDate+"\',\'"+row.fzr+"\',\'"+row.phone+"\',\'"+row.seriousExceed
                        + '\')"><i class="fa fa-plus">添加任务</i></a> ';
                    return e;
                }
            }]
        });
    }

    function airAdd(name, siteCode, id,pollutant,exceedsBidDate,fzr,phone,seriousExceed) {
        layer.open({
            type: 2,
            title: '代办任务查看',
            /*  data: {"name":name,
                  "siteCode":siteCode,
                  "id":id
              },*/
            maxmin: true,
            shadeClose: false,
            area: ['1000px', '680px'],
            content: '/index/add?name='+name+"&siteCode="+siteCode+"&id="+id+"&pollutant="+pollutant+"&exceedsBidDate="+exceedsBidDate+"&fzr="+fzr+"&phone="+phone+"&seriousExceed="+seriousExceed // iframe的url
        });
    }

    function b() {
        loadPolluteData();
    };
    var warnNum;

    function loadPolluteData() {
        $('#exampleTable').bootstrapTable('destroy');
        $('#exampleTable').bootstrapTable({
            method: 'get', // 服务器数据的请求方式 get or post
            url: "/index/buttonPolluteWaterAlarm",///index/getAir
            // showRefresh : true,
            // showToggle : true,
            // showColumns : true,
            iconSize: 'outline',
            toolbar: '#exampleToolbar',
            striped: true, // 设置为true会有隔行变色效果
            dataType: "json", // 服务器返回的数据类型
            pagination: true, // 设置为true会在底部显示分页条
            pageSize: 5, // 如果设置了分页，每页数据条数
            pageNumber: 1, // 如果设置了分布，首页页码
            //queryParamsType : "limit",
            // //设置为limit则会发送符合RESTFull格式的参数
            //$('#exampleTable').bootstrapTable('prepend', data);
            showHeader: true,//默认为true显示表头，设为false隐藏
            // showFooter: true,
            //singleSelect : false, // 设置为true将禁止多选
            //contentType : "application/x-www-form-urlencoded",
            // //发送到服务器的数据编码类型
            //search : true, // 是否显示搜索框
            //showColumns : true, // 是否显示内容下拉框（选择显示的列）
            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    pageNumber: (params.offset / params.limit) + 1,
                    //types : types
                    //offset: params.offset// 每页显示数据的开始行号
                    //sort: params.sort// 要排序的字段
                    //sortOrder: params.order, // 排序规则
                };
            },
            //(1)是一个回调函数，可以获取查询数据的总条数
            onLoadSuccess: function (res) {
                // alert(res.total)
                warnNum = res.total;
                //改变#count的文本内容
                $("#polluteDataCount").text(res.total);
            },
            columns: [{
                title: '站点',
                field: 'name',
            }, {
                title: '报警信息',
                field: 'pollutant',
                formatter: function (value, row, index) {
                    if (value == null) {
                        return "-"
                    } else {
                        return value + "污染物浓度超标";
                    }

                }
            }, {
                title: '检测值',
                field: 'value',
            }, {
                title: '报警时间',
                field: 'exceedsBidDate'
            }, {
                title: '状态',
                field: 'status',
                formatter: function (value, row, index) {
                    if (value == 0) {
                        return "未处理"
                    } else if (value == 1) {
                        return "已处理"
                    }
                }
            }, {
                title: '操作',
                field: 'id',
                width: '120px',
                align: 'center',
                formatter: function (value, row, index) {
                    var e = '<a class="btn btn-primary btn-sm" style=" width: 59px;\n' +
                        '    padding-left: 0px;\n' +
                        '    margin-left: -4px;"href="#" mce_href="#" title="" onclick="polluteDataAdd(\''
                        + row.name + "\',\'" + row.siteCode + "\',\'" + row.id+"\',\'"+row.pollutant+"\',\'"+row.exceedsBidDate+"\',\'"+row.fzr+"\',\'"+row.phone+"\',\'"+row.seriousExceed
                        + '\')"><i class="fa fa-plus">添加任务</i></a> ';
                    return e;
                }
            }]
        });
    }
    function polluteDataAdd(name, siteCode, id,pollutant,exceedsBidDate,fzr,phone,seriousExceed) {
        layer.open({
            type: 2,
            title: '代办任务查看',
            /*  data: {"name":name,
                  "siteCode":siteCode,
                  "id":id
              },*/
            maxmin: true,
            shadeClose: false,
            area: ['1000px', '680px'],
            content: '/index/polluteDataAdd/?name='+name+"&siteCode="+siteCode+"&id="+id+"&pollutant="+pollutant+"&exceedsBidDate="+exceedsBidDate+"&fzr="+fzr+"&phone="+phone+"&seriousExceed="+seriousExceed // iframe的url
        });
    }
    function c() {
        loadPolluteWater();
    };
    var warnNum;

    function loadPolluteWater() {
        $('#exampleTable').bootstrapTable('destroy');
        $('#exampleTable').bootstrapTable({
            method: 'get', // 服务器数据的请求方式 get or post
            url: "/index/buttonPolluteWaterAlarm",///index/getAir
            // showRefresh : true,
            // showToggle : true,
            // showColumns : true,
            iconSize: 'outline',
            toolbar: '#exampleToolbar',
            striped: true, // 设置为true会有隔行变色效果
            dataType: "json", // 服务器返回的数据类型
            pagination: true, // 设置为true会在底部显示分页条
            pageSize: 5, // 如果设置了分页，每页数据条数
            pageNumber: 1, // 如果设置了分布，首页页码
            //queryParamsType : "limit",
            // //设置为limit则会发送符合RESTFull格式的参数
            //$('#exampleTable').bootstrapTable('prepend', data);
            showHeader: true,//默认为true显示表头，设为false隐藏
            // showFooter: true,
            //singleSelect : false, // 设置为true将禁止多选
            //contentType : "application/x-www-form-urlencoded",
            // //发送到服务器的数据编码类型
            //search : true, // 是否显示搜索框
            //showColumns : true, // 是否显示内容下拉框（选择显示的列）
            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    pageNumber: (params.offset / params.limit) + 1,
                    //types : types
                    //offset: params.offset// 每页显示数据的开始行号
                    //sort: params.sort// 要排序的字段
                    //sortOrder: params.order, // 排序规则
                };
            },
            //(1)是一个回调函数，可以获取查询数据的总条数
            onLoadSuccess: function (res) {
                // alert(res.total)
                warnNum = res.total;
                //改变#count的文本内容
                $("#polluteWaterCount").text(res.total);
            },
            columns: [{
                title: '站点',
                field: 'name',
            }, {
                title: '报警信息',
                field: 'pollutant',
                formatter: function (value, row, index) {
                    if (value == null) {
                        return "-"
                    } else {
                        return value + "污染物浓度超标";
                    }

                }
            }, {
                title: '检测值',
                field: 'value',
            }, {
                title: '报警时间',
                field: 'exceedsBidDate'
            }, {
                title: '状态',
                field: 'status',
                formatter:function(value, row, index) {
                    if (value == 0) {
                        return "未处理"
                    } else if (value == 1) {
                        return "已处理"
                    }
                }
            }, {
                title: '操作',
                field: 'id',
                width: '120px',
                align: 'center',
                formatter: function (value, row, index) {
                    var e = '<a class="btn btn-primary btn-sm" style=" width: 59px;\n' +
                        '    padding-left: 0px;\n' +
                        '    margin-left: -4px;"href="#" mce_href="#" title="" onclick="polluteWaterAdd(\''
                        + row.name + "\',\'" + row.siteCode + "\',\'" + row.id+"\',\'"+row.pollutant+"\',\'"+row.exceedsBidDate+"\',\'"+row.fzr+"\',\'"+row.phone+"\',\'"+row.seriousExceed
                        + '\')"><i class="fa fa-plus">添加任务</i></a> ';
                    return e;
                }
            }]
        });
    }
    function polluteWaterAdd(name, siteCode, id,pollutant,exceedsBidDate,fzr,phone,seriousExceed) {
        layer.open({
            type: 2,
            title: '代办任务查看',
            /*  data: {"name":name,
                  "siteCode":siteCode,
                  "id":id
              },*/
            maxmin: true,
            shadeClose: false,
            area: ['1000px', '680px'],
            content: '/index/polluteWaterAdd/?name='+name+"&siteCode="+siteCode+"&id="+id+"&pollutant="+pollutant+"&exceedsBidDate="+exceedsBidDate+"&fzr="+fzr+"&phone="+phone+"&seriousExceed="+seriousExceed // iframe的url
        });
    }
    function d() {
        loadWater();
    };
    var warnNum;

    function loadWater() {
        $('#exampleTable').bootstrapTable('destroy');
        $('#exampleTable').bootstrapTable({
            method: 'get', // 服务器数据的请求方式 get or post
            url: "/index/buttonWaterAlarm",///index/getAir
            // showRefresh : true,
            // showToggle : true,
            // showColumns : true,
            iconSize: 'outline',
            toolbar: '#exampleToolbar',
            striped: true, // 设置为true会有隔行变色效果
            dataType: "json", // 服务器返回的数据类型
            pagination: true, // 设置为true会在底部显示分页条
            pageSize: 5, // 如果设置了分页，每页数据条数
            pageNumber: 1, // 如果设置了分布，首页页码
            //queryParamsType : "limit",
            // //设置为limit则会发送符合RESTFull格式的参数
            //$('#exampleTable').bootstrapTable('prepend', data);
            showHeader: true,//默认为true显示表头，设为false隐藏
            // showFooter: true,
            //singleSelect : false, // 设置为true将禁止多选
            //contentType : "application/x-www-form-urlencoded",
            // //发送到服务器的数据编码类型
            //search : true, // 是否显示搜索框
            //showColumns : true, // 是否显示内容下拉框（选择显示的列）
            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    pageNumber: (params.offset / params.limit) + 1,
                    //types : types
                    //offset: params.offset// 每页显示数据的开始行号
                    //sort: params.sort// 要排序的字段
                    //sortOrder: params.order, // 排序规则
                };
            },
            //(1)是一个回调函数，可以获取查询数据的总条数
            onLoadSuccess: function (res) {
                // alert(res.total)
                warnNum = res.total;
                //改变#count的文本内容
                $("#waterCount").text(res.total);
            },
            columns: [{
                title: '站点',
                field: 'name',
            }, {
                title: '报警信息',
                field: 'pollutant',
                formatter: function (value, row, index) {
                    if (value == null) {
                        return "-"
                    } else {
                        return value + "污染物浓度超标";
                    }

                }
            }, {
                title: '检测值',
                field: 'value',
            }, {
                title: '报警时间',
                field: 'exceedsBidDate'
            }, {
                title: '状态',
                field: 'status',
                formatter:function(value, row, index) {
                    if (value == 0) {
                        return "未处理"
                    } else if (value == 1) {
                        return "已处理"
                    }
                }
            }, {
                title: '操作',
                field: 'id',
                width: '120px',
                align: 'center',
                formatter: function (value, row, index) {
                    var e = '<a class="btn btn-primary btn-sm" style=" width: 59px;\n' +
                        '    padding-left: 0px;\n' +
                        '    margin-left: -4px;"href="#" mce_href="#" title="" onclick="waterAutoAdd(\''
                        + row.name + "\',\'" + row.siteCode + "\',\'" + row.id+"\',\'"+row.pollutant+"\',\'"+row.exceedsBidDate+"\',\'"+row.fzr+"\',\'"+row.phone+"\',\'"+row.seriousExceed
                        + '\')"><i class="fa fa-plus">添加任务</i></a> ';
                    return e;
                }
            }]
        });
    }
    function waterAutoAdd(name, siteCode, id,pollutant,exceedsBidDate,fzr,phone,seriousExceed) {
        layer.open({
            type: 2,
            title: '代办任务查看',
            /*  data: {"name":name,
                  "siteCode":siteCode,
                  "id":id
              },*/

            maxmin: true,
            shadeClose: false,
            area: ['1000px', '680px'],
            content: '/index/waterAutoAdd/?name='+name+"&siteCode="+siteCode+"&id="+id+"&pollutant="+pollutant+"&exceedsBidDate="+exceedsBidDate+"&fzr="+fzr+"&phone="+phone+"&seriousExceed="+seriousExceed // iframe的url
        });
    }

    //设置屏幕缩放80%;
    var size = 0.8;
    document.body.style.zoom = size;
    document.body.style.cssText += '; -moz-transform: scale(' + size + ');-moz-transform-origin: 0 0; ';     //

    var menus = [], homeLink = '';
    var main = $(".main"), mainTitle = $(".main-title"), mainFrame = $("#mainFrame");
    var height = $(window).height() - $('.container>.top').height();

    function removeMainBlock() {
        $("#main-block-div").remove();
    }

    function showBlock(text) {
        if (!document.getElementById("main-block-div")) {
            main.append('<div id="main-block-div"  class="actiing">'
                + '<div class="actingCon">'
                + '<div class="imitate cutcircle">'
                + '<div class="imitateImg"></div>'
                + '</div>'
                + '<p class="actingConp"> 加载中 ...</p>'
                + '</div>'
                + '</div>');
        }
    }

    function adjustMargin(url) {
        if (url === "desktop" || url === "/Grid/AreaAirQuantity") {
            main.addClass('main-padding full-width');
            mainTitle.hide();
        }
        else {
            main.removeClass('main-padding full-width');
            mainTitle.show();
        }
    }

    //headNav
    function onClick(name, url, moduleId, pageId, event) {
        //headNav
        if(event){
            $("#headNav li").removeClass("hover");
            $(event).parent().parent().parent().addClass("hover");
            if($("#headNav li.hover").length===0){
                $("#headNav>li:eq(0)").addClass("hover")
            }
        }
        adjustMargin(url);
        // if (name.length > 0) {
        //     var link = '<a href="javascript:void(0);" onclick="onClick(\'\',\' '+url+' \')"> > ' + name + '</a>';
        //     $("#home-link").siblings().remove().end().after(link);
        // }
        var params = {};
        var urlItems = url.split("?");
        if (moduleId != undefined && pageId != undefined) {
            params["ModuleId"] = moduleId;
            params["PageId"] = pageId;
            params["tree_node_id"] = moduleId;
            params["tree_node_name"] = name;
            params["tree_node_pId"] = moduleId;
            if (urlItems.length > 1) {
                url = urlItems[0];
                params = getUrlParam(urlItems[1], params);
            }
            mainFrame.attr("src", summerFresh.buildUrl(url, params));
        }
        else {
            mainFrame.attr("src", url);
        }
        showBlock(name);
    }

    function getUrlParam(queryString, params) {
        var q = queryString.split("&");
        for (var i = 0; i < q.length; i++) {
            var temp = q[i].split("=");
            params[temp[0]] = temp[1];
        }
        return params;
    }

    function setIframeHeight() {
        var totalHeight = height;
        var siblings = mainFrame.siblings();
        for (var i = 0; i < siblings.length; i++) {
            totalHeight -= $(siblings[i]).height();
        }
        if (!main.hasClass('main-padding')) {
            totalHeight -= parseInt(main.css('padding-top'));
        }
        mainFrame.css("min-height", totalHeight + "px");
    }

    $(document).ready(function () {
        goHome();
        $('#menu').on('click', 'li', function () {
            $("#menu li").removeClass('active');
            $(this).addClass('active');
        });

        $('#btnLogin').on('click', function () {
            window.location.href = '/Home/Logon';
        });
        //headNav
        $("#headNav a").on('click', function (e) {
            changeHover(e)
        })
        summerFresh.dataService("/sys/menu/listMenusByUserId", {}, function (res) {
            menus = res;
            var firstTemp = "<li id=\"{menuId}\" pid=\"{parentId}\" class=\"drop\"><a href=\"javascript:void(0);\"><span><i class=\"{icon}\" /></i><span>  {name}</a><ul class=\"sub_menu\"></ul></li>";
            //headNav
            var secondTemp = "<li><a role='menuitem' tabindex='-1' href=\"#\" onclick=\"onClick('{name}','{url}', undefined, undefined, this)\">{name}</a></li>";
            $.each(res, function () {
                if (this.parentId == '0') {
                    $("ul.top-dropdown").append(summerFresh.modelViewBinder(this, firstTemp));
                }
            });
            $.each(res, function () {
                if (this.parentId != '') {
                    $("#" + this.parentId + ">ul").append(summerFresh.modelViewBinder(this, secondTemp));
                }
            });
            initNavBar();
        }, 'get', true);
    });

    //headNav
    function goHome(e) {
        onClick("", "desktop", undefined, undefined, e);
    }
    //headNav
    function changeHover(e){
        $("#headNav li").removeClass("hover");
        $(e.target).parent().addClass("hover");
    }
    function changePassword() {
        var id = $("#userId").val();
        /* layer.open({
            type : 2,
            title : '重置密码',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '400px', '260px' ],
            content : '/sys/user/resetPwd/' + id // iframe的url
        }); */
        onClick("修改密码", '/sys/user/ChangePassword/' + id);
    }

    mainFrame.load(function () {
        removeMainBlock();
    });

    //点击弹出顶部告警信息，临时使用，届时可删除
    $(".top-right a").click(function () {
        $(".alm-dialog").show();
    });

    $(".alm-close").click(function () {
        $(".alm-dialog").fadeOut("fast");
    });



    //headNav 带有headNav注释的都是上方菜单背景色改变涉及到的
</script>
<!--
</body>
</html>-->
